{% extends 'base.jinja' %}

{% block scripts %}
<script>
    const operators = {{ operators | tojson | safe }}
    const materials = {{ materials | tojson | safe }}
</script>
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock scripts %}
{% block content %}
<div>
    <input type="text" placeholder="搜尋幹員...">
</div>
{% for _, operator in operators.items() %}
    <div>
        <div>
            <img src="{{ operator.art }}" width="80" height="80" alt="幹員名稱">
            {{ operator.name }}
        </div>
        <h2>專精訓練</h2>
        <table>
            <tbody>
                <tr>
                    <th></th>
                    <th>專精1</th>
                    <th>專精2</th>
                    <th>專精3</th>
                    <th></th>
                </tr>

                {% for skill in operator.skills %}
                    {% set number = loop.index0 %}
                    <tr>
                        <td>{{ skill.skillName }}</td>
                        {% for levelUpCost in skill.levelUpCosts %}
                            {% if levelUpCost %}
                                <td>
                                    <input type="checkbox" class="select-ckb" data-operator="{{ operator.id }}" data-upgrade="skill" data-number="{{ number }}" data-level="{{ loop.index0 }}">
                                    {% for item in levelUpCost %}
                                        <div class="item-container">
                                            <img src="{{ materials[item.id].art }}" alt="{{ materials[item.id].name }}">
                                            <span>{{ item.count }}</span>
                                        </div>
                                    {% endfor %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <button class="select-all-btn" data-operator="{{ operator.id }}" data-upgrade="skill" data-number="{{ number }}">全選</button>
                            <button class="unselect-all-btn" data-operator="{{ operator.id }}" data-upgrade="skill" data-number="{{ number }}">取消</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>精英化</h2>
        <table>
            <tbody>
                <tr>
                    <th colspan="6">精英化材料</th>
                </tr>

                {% for phase in operator.phases %}
                    {% if phase.evolveCost %}
                        <tr>
                            <td>
                                <input type="checkbox" class="select-ckb" data-operator="{{ operator.id }}" data-upgrade="phase" data-level="{{ loop.index0 }}">
                            </td>
                            <td>
                                <span>精{{ loop.index0-1 }} → 精{{ loop.index0 }}</span>
                            </td>
                            <td>
                                {% for item in phase.evolveCost %}
                                    <div class="item-container">
                                        <img src="{{ materials[item.id].art }}" alt="{{ materials[item.id].name }}">
                                        <span>{{ item.count }}</span>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <h2>模組</h2>
        {% for uniequip in operator.uniequips %}
            {% set number = loop.index0 %}
            {% if uniequip.itemCost %}
                <table>
                    <tbody>
                        <tr>
                            <th colspan="6">{{ uniequip.uniEquipName }}</th>
                        </tr>
                        {% for stage in uniequip.itemCost.values() %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="select-ckb" data-operator="{{ operator.id }}" data-upgrade="uniequip" data-number="{{ number }}" data-level="{{ loop.index0 }}">
                                </td>
                                <td>
                                    <span>stage {{ loop.index }}</span>
                                </td>
                                <td>
                                    {% for item in stage %}
                                        <div class="item-container">
                                            <img src="{{ materials[item.id].art }}" alt="{{ materials[item.id].name }}">
                                            <span>{{ item.count }}</span>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
<footer id="stickybar">
    <button id="all-btn">全選</button>
    <span>總計:</span>
    <div id="total-material-container"></div>
</footer>
{% endblock content %}