{% extends 'base.jinja' %}
{% include 'operator.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock scripts %}
{% block content %}
    
{% endblock content %}